.progressBar {
  width: 100%;
  background-color: #e5e7eb;
  /* gray-200 */
  border-radius: 9999px;
  height: 0.5rem;
  position: relative;
  overflow: hidden;
}

.dark .progressBar {
  background-color: #374151;
  /* dark:bg-gray-700 */
}

.progressFill {
  background-color: #3b82f6;
  /* bg-blue-500 */
  height: 100%;
  border-radius: 9999px;
  transition: all 300ms;
  position: absolute;
  top: 0;
  left: 0;
}
